/* This is a style sheet */

body {
	background-image: url("images/brickbackground.jpeg");
	background-color: orange;
	background-size: cover;
	color: black;
}

h1 {
	padding-top: 10px;
	text-align: center;
	font-size: 32px;
	font-family: "Courier";
	line-height: 50%;
	color: white;
}

h2 {
	padding-bottom: 10px;
	text-align: center;
	font-size: 24px;
	font-family: "Courier";
	line-height: 50%;
	color: white;
}

#page_title {
	background-color: black;
}

#out_car {
	width: auto;
	height: auto;
	overflow: hidden;
    padding: 10px;
}

#carousel {
	width: auto;
	height: auto + 50;
	/*background-color: white;*/
	overflow: auto;
	white-space:nowrap;
	padding-top: 20px;
}

#carousel .slidetop {
	display: inline-block;
	overflow: hidden;
	padding-left: 10px; 
	padding-right: 10px;
	padding-bottom: 40px;
}

#carousel .slidebottom {
	display: inline-block;
	overflow: hidden;
	padding-left: 10px; 
	padding-right: 10px; 
}

#carousel .eventtitle {
	font-size: 20px; 
}

p {
	color: black; 
}

#carousel .info {
	background-color:#b3ccff;
	height: auto;
	width: 400px; 
	padding-left: 10px; 
	padding-right: 10px; 
	padding-top: 1px; 
	padding-bottom: 1px;
	border-style: solid;
	border-color: white;
	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: normal;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    white-space: normal; 
	overflow: hidden; 
	text-overflow: ellipsis;
}

.img_holder {
	width: 400px;
	height: 515px;
}

.img_holder img {
	width: 100%;
	height: auto;
}