/* This is a style sheet */

body {
	background-image: url("images/brickbackground.jpeg");
	background-color: orange;
	background-size: cover;
	color: white;
	
	/*
	Reminders:

	text-align: center;
	font-family: "Avenir Next";
	font-size: 28px;
	color: black;
	*/
}

#carousel {
	width: auto;
	height: auto;
	/*background-color: white;*/
	
	overflow: auto;
	white-space:nowrap;
}

#carousel .slidetop {
	display: inline-block;
	overflow: hidden;
	margin-bottom: 250px;
}

#carousel .slidebottom {
	display: inline-block;
	overflow: hidden;
	margin-top: 250px;
}