/* This is a style sheet */

body {
	background-color: #1E90FF;
	font-family: "Avenir Next";
	font-size: 28px;
	color: white;
}

h1, h2, h3, p {
	text-align: center;
	/*color: yellow;*/
	/*background-color: magenta;*/
}

.bold-title {
	font-weight: bold;
}