/* This is a style sheet */

body {
	background-image: url("images/brickbackground.jpeg");
	background-color: orange;
	background-size: cover;
	color: white;
	
	/*
	Reminders:

	text-align: center;
	font-family: "Avenir Next";
	font-size: 28px;
	color: black;
	*/
}

#carousel {
    width: 100%;
    height: 100%;
    /*background-color: #ff0000;*/
    
    overflow: auto;
    white-space:nowrap;
}

#carousel .slide {
    display: inline-block;
}